<html>
	<head>
		<title>Today's Day</title>
	</head>
	<body>
		
		<script type = "text/javascript" >
				// JavaScript program to illustrate
				// calculation of no. of days between two date
		
				// To set two dates to two variables
				var date1 = new Date("06/25/2021");
		var date2 = new Date();
		
		// To calculate the time difference of two dates
		var Difference_In_Time = date2.getTime() - date1.getTime();
		
		// To calculate the no. of days between two dates
		var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
		
		//To display the final no. of days (result)
		document.write("DAY - "
									+ Math.ceil(Difference_In_Days));
		
		</script>
	</body>
</html>