
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carrybot!</title>
    <meta name="description" content="bot dedicated for Carrybhai">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/172511f7-a318-4755-8ed9-b24b68d81179%2Fcarrminati%20alpha%20channel..png?1535981328481" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9896213837637484",
          enable_page_level_ads: true
     });
</script>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <p id="demo"></p>

    <script>
      var car=111;
    document.getElementById("demo").innerHTML = car;
      console.log(point.code);
    </script> 

    
  </body>
  
</html>