<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carrybot!</title>
    <meta name="description" content="bot dedicated for Carrybhai">
    <meta name="google-site-verification" content="axCtelNoDLi9N32HBeGHbt4jt4GeUU10loUQtOurvvg" />
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/172511f7-a318-4755-8ed9-b24b68d81179%2Fcarrminati%20alpha%20channel..png?1535981328481" type="image/x-icon">
    <meta charset="utf-8">
    <script data-ad-client="ca-pub-9896213837637484" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9896213837637484",
          enable_page_level_ads: true
     });
</script>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body class = "container">
    <header>
      <p class="heading">
      CARRYBOT
      </p>
    </header>

    <main>
      <section bgcolor="blue">
      Hello!!!

      </section>
      <p class="bold">Toh Kaise hain aap log!!!</p>
      
      <img src="https://cdn.glitch.com/172511f7-a318-4755-8ed9-b24b68d81179%2Fcarryminati_2.jpg?1535982804107" alt="Carryminati">
      
      <p>Apka naam likiye</p>
      
      <form>
        <input name="dream" type="text" maxlength="100" placeholder="NAAM!" aria-labelledby="submit-dream">
        <button type="submit" id="Bhejo">Send</button>
      </form>
      
      <p class ="bold">
        Members of HOMO-BAKCHODIAN Society!
      </p>
      
      <section class="dreams">
        <il id="dreams"></il>
      </section>
      
      <p class="bold">Links</p>
      <p>
        <a href="https://carrybot.glitch.me/about">About us!!</a><br>
        <a href="https://carrybot.glitch.me/dil">Join Carryminati FC Discord Server</a><br>
        <a href="https://carrybot.glitch.me/discordbotinvite">Invite this bot to your Discord Server</a><br>
      </p>
      
<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" align="left" data-channelid="UC51OKFGqiMGco1QjZQI6gOg" data-layout="full" data-count="default" ></div>
      
      <footer>
      Come Back Again soon!!
      </footer>
      
    </main>
    
  </body>
</html>
